@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Babbitt Nelson Engineering</h1>
    <p class="lead"></p>
    <p>@Html.ActionLink("Submit a proposal request","NewRequest","Proposal",null, new{@class="btn btn-primary btn-lg"})</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Request Proposal</h2>
        <p>
            Here you will submit your information so that we can get started on your project! 
        </p>
        <p><a class="btn btn-default" href="~/Proposal/NewRequest">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create Proposal</h2>
        <p>If you want to bypass requesting a proposal, go here to submit all the necessary inforamtion about the project.</p>
        <p><a class="btn btn-default" href="~/Proposal/Create">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Proposal Status</h2>
        <p>Once your project has been started, check here to see what the current status of your project is!</p>
        <p><a class="btn btn-default" href="~/Proposal/ViewProposal">Learn more &raquo;</a></p>
    </div>
</div>