@model IEnumerable<Project_1.Models.ProposalSummary>
@{
    ViewBag.Title = "All";
}

<h2>All Proposals</h2>

    @foreach (var item in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => item.positionDescription)
            @Html.ActionLink("Edit", "Edit", new { id = item.positionCode }) |
            @Html.ActionLink("Details", "Details", new { id = item.positionCode }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.positionCode })


        </li>
    }